<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Factură</title>
		
		<link rel="stylesheet" href="<%- locals.protocol%><%- locals.domeniu %>/resurse/css/factura.css" type="text/css">
		<script src="<%- locals.protocol%><%- locals.domeniu %>/resurse/js/factura.js"></script>
	</head>
	<body>
		<h1>Factură</h1>
		<p>Stimate domn/doamna <%-locals.utilizator.nume %>, aveți aici lista produselor achiziționate.</p> 
		<div id="container-tabel">
			<table id="tabl">
				<thead>
					<tr>
						<th>Produs</th>
						<th>Preț</th>
						<th>QR</th>
					</tr>
				</thead>
				
				<tbody>
					<% 
					var suma=0;
					for (let prod of locals.produse) {
						suma+=parseFloat(prod.pret);
						%>
						<tr>
							<td><%-  prod.nume %></td>
							<td><%-  prod.pret %></td>
							<td><img src="<%- locals.protocol%><%- locals.domeniu %>/resurse/imagini/qrcode/<%-  prod.id %>.png"></td>
						</tr>
					<% } %>
				</tbody>
				<tfoot>
						<p>Total de plata: <%- suma %><p>
				</tfoot>
			</table>
		</div>
	</body>
</html>