<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="keywords" content="skincare, ingrijire, produs, skincare routine">
        <meta name="description" content="Ingrijire. Lifestyle. Produse de calitate.">
        <!-- <link rel="stylesheet" href="/resurse/css/produse.css" type="text/css" /> -->
        <title>Skincare Skema - înregistrare </title>
        <%- include("../fragmente/head") %>     
        <script type="text/javascript" src=/resurse/js/inregistrare.js></script>
        <link rel="stylesheet" href="/resurse/css/inregistrare.css" type="text/css" />
    </head>
    <body>
    <%- include("../fragmente/header") %>
    
    <main>
    <div class="afisaj">
        <h1>Inregistrare utilizator</h1>
        <% if(!locals.raspuns) { %>    

			<%-include("../fragmente/formular", {action: "/inregistrare"}) %>
        <% } %>
        
	<% if(locals.raspuns) { %>
	<%- locals.raspuns+"<br/>"%>
	<% } %>
	<% if(locals.err) { %>
	<%- locals.err %>
	<% } %>
    </div>
        <button class="butonTermeniSiConditii" onclick="showTermsModal()">Inregistrandu-va pe acest site, acceptati implicit termeni și condițiile noastre</button>

        <p>Aveti deja cont? Autentificati-va  <a href="/loginpage">aici</a></p>

    </main>

<footer>
    <%- include("../fragmente/footer") %>
    <a href="#" class="linktop"><div id="triunghi"></div></a> 
</footer>

</body>
</html>