<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="keywords" content="skincare, ingrijire, produs, skincare routine">
        <meta name="description" content="Ingrijire. Lifestyle. Produse de calitate.">
        <!-- <link rel="stylesheet" href="/resurse/css/produse.css" type="text/css" /> -->
        <title>Skincare Skema - înregistrare </title>
        <%- include("../fragmente/head") %>     
    </head>
    <body>
    <%- include("../fragmente/header") %>
    
    <main id="login-page">
        <% if(!locals.utilizator) { %>
            <form id="form_inreg"  method="post" class="date"  action="/login"  enctype="multipart/form-data">
                <p>
                    <label>
                        Username: <input type="text" name="username" id="inp-username" value="" required pattern="[A-Za-z0-9]+">
                    </label>
                </p>
                <p>
                    <label>
                        Parola: <input id="parl" type="password" required  name="parola" value="">
                    </label>
                </p>
                <p><input class="button" type="submit" value="Logare"></p>
            </form>
            <p><%- locals.eroareLogin %></p>
            <% } else {%>
  
            <%- locals.succesLogin %>
  
            <% }  %>

            <p>Nu aveti cont? Creati unul chiar acum<a href="/inregistrare"> <b style="color: green;">aici!</b></a></p>

            <a href="#" class="linktop"><div id="triunghi"></div></a> 
        </main>

<footer>
    <%- include("../fragmente/footer") %>
    
</footer>

</body>
</html>