<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="keywords" content="skincare, ingrijire, produs, skincare routine"><!--cuvintele cheie ale paginii; majoritatea motoarelor de căutare ignoră keywords -->
        <meta name="description" content="Ingrijire. Lifestyle. Produse de calitate."><!-- descrierea paginii, adesea apare sub link când sunt afișate rezultatele căutării -->  
       <link rel="stylesheet" href="/resurse/css/produse.css" type="text/css" />
        <title>Skincare Skema - produse</title>
        
        <script type="text/javascript" src=/resurse/js/produse.js></script>
        
        <%- include("../fragmente/head") %>  
        <style>
            #myMessage {
              position: fixed;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              padding: 20px;
              background-color:rgba(110, 216, 255, 0.444);
              border: 1px solid #ccc;
              border-radius: 5px;
              font-size: 22px;
              font-weight: bold;
            }

            #closeButton {
                position: absolute;
                top: 5px;
                right: 5px;
                padding: 5px 10px;
                background-color: transparent;
                color: rgb(249, 119, 119);
                border: none;
                border-radius: 3px;
                cursor: pointer;
    }
          </style>

<script>
    window.addEventListener("DOMContentLoaded", function() {
      var messageElement = document.createElement("div");
      messageElement.id = "myMessage";
      messageElement.innerHTML = "La comenzile cu valoarea peste 100 de lei aveti transport gratuit, iar la cele peste 200 de lei aveti automat o reducere de 10%! Shopping placut! <button id='closeButton'>X</button>";

      document.body.appendChild(messageElement);

      var closeButton = document.getElementById("closeButton");
      closeButton.addEventListener("click", function() {
        messageElement.style.display = "none";
      });
    });
  </script>
    </head>
    <body>
    <%- include("../fragmente/header") %>
    <!-- <script>
        window.onload = function(){
            alert("Textul alertei aici");
        }
        </script> -->
    <main>
        
        <label> Nume: <input type="text" id="inp-nume"></label>
        <!--<label> Maxim calorii: <input type="number" id="inp-calorii" value="10000"></label>-->
        
        <label> Pret minim: <input type="range" id="inp-pret" value="0" min="0"  max="70"> <span id="infoRange">(0) lei</span></label>
        <!-- <label> Pret maxim: <input type="range" id="inp-pret-max" value="0" min="0"  max="70"> <span id="infoRange">(0) lei</span></label> -->
        <label> Pret maxim: <input type="range" id="inp-pret-max" value="70" min="0" max="70"> <span id="infoRangeMax">(70) lei</span></label>

        <label>Select simplu:
            <select id="inp-categorie">
                <option id="sel-toate" selected value="toate">toate</option>
                <% for (let opt of locals.optiuni) { %>
                    <option value="<%- opt.unnest %>"><%- opt.unnest %> </option>
                <% } %>
            </select>
        </label>
        <button class="butonReduceri" onclick="showTermsModal()">Reduceri</button>
        <div class="button-grid"> 
            <button class="button" id="filtrare">Filtreaza</button> 
            <button class="button" id="resetare">Reseteaza</button><br/>
        </div>

       
        
        <!--
        <p id="p-suma">Apăsați Alt+"c" pentru suma preturilor produselor afișate. </p>
        -->
        <section id="produse">
            <h2>Produse</h2>
            <div class="button-grid"> 
                <button class="button" id="sortCrescPret">Sorteaza crescator dupa pret</button>
                <button class="button" id="sortDescrescPret">Sorteaza descrescator dupa pret</button>  
    
                <button class="button" id="sortCrescNume">Sorteaza crescator dupa nume</button>
                <button class="button" id="sortDescrescNume">Sorteaza descrescator dupa nume</button>  
            </div>
            <div class="grid-produse">
                <% for( let prod of locals.produse) { %>
                    <article class="produs" >
                        <h3 class="nume"><a href="/produs/<%-prod.id %>" ><span class="val-nume"><%- prod.nume%></span></a></h3>
                        <div class="info-prod">
                            <p class="pret">Pret: <span class="val-pret"><%- prod.pret%></span></p>
                            <p class="gramaj">Gramaj: <span class="val-gramaj"><%- prod.gramaj%></span></p>
                            <p class="categorie">Categorie:<span class="val-categorie"><%- prod.categorie%></span></p>
                        </div>
                        
                        <figure id="poza">
                            <a href="/produs/<%-prod.id %>" ><img src="/resurse/imagini/produse/<%- prod.imagine %>"  alt="[imagine <%- prod.nume %>]" /></a>
                        </figure>
                        <% if (prod.stoc > 0) { %>
                            <label class="selecteaza-cos">
                              Adauga in cos:<br/>
                              <input type="checkbox" class="select-cos" value="<%- prod.id %>" autocomplete="off">
                            </label>
                            <label class="selecteaza-favorite">
                                Adauga la favorite:<br/>
                                <input type="checkbox" class="select-favorite" value="<%- prod.id %>" autocomplete="off">
                              </label>
                          <% } else { %>
                            <p>Ne pare rau, produsul nu mai este pe stoc.</p>
                          <% } %>
                          
                    </article>
                <% }%>
            </div>
        </section>

        <a href="#" class="linktop"><div id="triunghi"></div></a> 
    </main>
    
    <%- include("../fragmente/footer") %>
    
    </body>
</html>