<!DOCTYPE html>
<html lang="ro">
	<head>
		<meta name="keywords" content="skincare, ingrijire, produs, skincare routine">
        <meta name="description" content="Ingrijire. Lifestyle. Produse de calitate.">
		<title>Profil</title>
		<%- include("../fragmente/head") %>
        
		<!-- <link rel="stylesheet" type="text/css" href="/resurse/css/contact.css" /> -->
		<% if(locals.utilizator) { %>
		<script>

			// populez inputurile din pagina de profil cu datele din tabel (incarcate prin EJS)
			window.addEventListener("DOMContentLoaded", function(){
				document.getElementById("inp-username").value="<%= locals.utilizator.username %>";
				document.getElementById("inp-username").readOnly=true;
				document.getElementById("inp-nume").value="<%= locals.utilizator.nume %>";
				document.getElementById("inp-prenume").value="<%= locals.utilizator.prenume %>";
				document.getElementById("inp-email").value="<%= locals.utilizator.email %>";
				document.getElementById("p-reintrod").remove();
				var optiuni=document.getElementById("sel-culoare").options
				for (let opt of optiuni)
					if (opt.value=="<%= locals.utilizator.culoare_chat %>")
						opt.selected=true;
			});
		</script>
		<% } %>
	</head>
	<body>
			<%- include("../fragmente/header") %>
		<main>
			<% if(locals.utilizator) { %>
			<section>
				<h2>Profil</h2>
				<p><%= locals.raspuns %></p>
				<img src="/<%- locals.utilizator.poza%>" alt="nu ati incarcat poza de profil" />
			</section>
			<%- include("../fragmente/formular",{action:"/profil"}) %>
			<%- locals.mesaj%>
			<a href="#" class="linktop"><div id="triunghi"></div></a> 
		</main>
		<% } else { %>
			<h2>Nu sunteti logat</h2>
		<% } %>
		<%- include("../fragmente/footer") %>
		
	</body>
</html>